.conatiner-order-id-geral {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.order-id-container {
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  padding: 20px;
  width: 85%;
}

.details-order-id {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-status-order-id {
  background-color: red;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 700;
  padding: 15px;
}

.number-order-id {
  font-size: 1.1em;
  font-weight: 900;
  text-align: center;
}

.container-order-id-date {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 57.4vw;
}

.order-id-button {
  align-items: center;
  background-color: rgb(242, 183, 5);
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 0.9em;
  font-weight: 700;
  height: 3vh;
  justify-content: center;
  margin-top: 5px;
  width: 15vw;
}

.order-id-button:disabled {
  background-color: white;
  border: 2px solid white;
  color: rgba(0, 0, 0, 0.4);
}

.order-id-button:hover {
  background-color: #2fc18c;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.divDadosPedido {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 99%;
}

.inputInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.divInputInfo {
  display: flex;
}

.divInputInfo input, select {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 200px;
}

.button-delivery-id {
  margin: 0;
}

.divButton {
  width: 300px;
}

.tableCar {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 90%;
}

.column-item {
  width: 8vw;
}

.tdItem {
  background-color: rgb(242, 183, 5);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  width: 50px;
}

.tdDescricao {
  background-color: #eaf1ef;
  width: 300px;
}


.tdQuantidade {
  background-color: rgba(242, 238, 172, 0.7);
  text-align: center;
}

.tdPrice {
  background-color: rgb(242, 238, 172, 0.7);
  text-align: center;
}

.tdSubtotal {
  background-color: #056cf9;
  font-weight: 700;
  text-align: center;
}

.container-total-order-id {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 10px;
}

@media ( max-width : 1440px ) and ( max-height : 900px ) { /* 360 x 800 */

  .order-id-container {
    height: auto;
    padding: 3vh;
  }

  .container-status-order-id {
    margin-top: 20px;
  }

  .order-id-button {
    height: 6vh;
  }

}

@media ( max-width : 360px ) and ( max-height : 800px ) { /* 360 x 800 */

  .order-id-container {
    height: auto;
    padding: 3vh 2vh 0;
  }

  .tableCar {
    border: none;
    padding: 0;
    width: 100%;
  }

  .details-order-id {
    align-items: center;
    display: flex;
    height: 6vh;
    justify-content: space-between;
  }

  .container-status-order-id {
    background-color: red;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 10px;
  }

  .number-order-id {
    font-size: 1em;
    font-weight: 900;
    text-align: center;
  }

  select {
    width: 220px;
  }

  .divDadosPedido {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .order-id-button {
    height: 6vh;
    margin: 5px 0;
    width: 35vw;
  }

  .container-order-id-date {
    justify-content: center;
    width: 100%;
  }

  .container-total-order-id {
    margin: 15px 0;
  }
}
